@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="text-center">
    <h1 class="display-4">LinkNode</h1>
</div>

<ul>
    <li class="nav-item">
        <a asp-controller="UserRoles" asp-action="Index">Ролі користувачів</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Users" asp-action="Index">Користувачі</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Clients" asp-action="Index">Клієнти</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Freelancers" asp-action="Index">Фрілансери</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Categories" asp-action="Index">Категорії</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Vacancies" asp-action="Index">Вакансії</a>
    </li>
    <li class="nav-item">
        <a asp-controller="EmploymentTypes" asp-action="Index">Типи зайнятості</a>
    </li>
    <li class="nav-item">
        <a asp-controller="InviteStatus" asp-action="Index">Статус запрошення</a>
    </li>
    <li class="nav-item">
        <a asp-controller="IntroStatus" asp-action="Index">Статус інтерв'ю</a>
    </li>
    <li class="nav-item">
        <a asp-controller="ActionTypes" asp-action="Index">Дії адміністратора</a>
    </li>
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстація</a>
</ul>


